<a href="https://colab.research.google.com/github/Hamim688/Pemrograman-berbasis-objek/blob/main/jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jobsheet 01:DASAR BAHASA PEMROGRAMAN PYTHON

Praktikum 01. Tipe data dasar

In [4]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print(f"""NOTE :
Int/integer = tipe data yang di gunakan bilangan bulat
float = tipe data yang di gunakan untuk angka desimal
complex = tipe data yang di gunakan untuk operasi bilangan real dan imajiner
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
NOTE :
Int/integer = tipe data yang di gunakan bilangan bulat
float = tipe data yang di gunakan untuk angka desimal
complex = tipe data yang di gunakan untuk operasi bilangan real dan imajiner
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

In [5]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))
print(f"""NOTE :
bool/boolean = tipe data yang di gunakan untuk operasi logika(true/false)
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

is_active = True -> <class 'bool'>
NOTE :
bool/boolean = tipe data yang di gunakan untuk operasi logika(true/false)
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

In [7]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))
print(f"""NOTE :
str/string = tipe data yang di untuk menuliskakn karakter
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

teks = Hello, Python! -> <class 'str'>
NOTE :
str/string = tipe data yang di untuk menuliskakn karakter
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

In [8]:
# 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))
print(f"""NOTE :
daftar_angka adalah sebuah list yang berisi lima elemen: [1, 2, 3, 4, 5].
List menggunakan tanda kurung siku [] untuk menyimpan elemen.
Elemen dalam list bisa berupa angka, string, atau tipe data lainnya.
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")
## cara alternatif membuat list
data_range = range(0,10,2) # range(start,stop,step)
print(data_range)
data_list = list(data_range)
print(data_list)

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>
NOTE :
daftar_angka adalah sebuah list yang berisi lima elemen: [1, 2, 3, 4, 5].
List menggunakan tanda kurung siku [] untuk menyimpan elemen.
Elemen dalam list bisa berupa angka, string, atau tipe data lainnya.
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel
range(0, 10, 2)
[0, 2, 4, 6, 8]