<a href="https://colab.research.google.com/github/Hamim688/Pemrograman-berbasis-objek/blob/main/jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jobsheet 01:DASAR BAHASA PEMROGRAMAN PYTHON

Praktikum 01. Tipe data dasar

In [4]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print(f"""NOTE :
Int/integer = tipe data yang di gunakan bilangan bulat
float = tipe data yang di gunakan untuk angka desimal
complex = tipe data yang di gunakan untuk operasi bilangan real dan imajiner
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
NOTE :
Int/integer = tipe data yang di gunakan bilangan bulat
float = tipe data yang di gunakan untuk angka desimal
complex = tipe data yang di gunakan untuk operasi bilangan real dan imajiner
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

In [5]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))
print(f"""NOTE :
bool/boolean = tipe data yang di gunakan untuk operasi logika(true/false)
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

is_active = True -> <class 'bool'>
NOTE :
bool/boolean = tipe data yang di gunakan untuk operasi logika(true/false)
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

In [7]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))
print(f"""NOTE :
str/string = tipe data yang di untuk menuliskakn karakter
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

teks = Hello, Python! -> <class 'str'>
NOTE :
str/string = tipe data yang di untuk menuliskakn karakter
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

In [9]:
# 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))
print(f"""NOTE :
daftar_angka adalah sebuah list yang berisi lima elemen: [1, 2, 3, 4, 5].
List menggunakan tanda kurung siku [] untuk menyimpan elemen.
Elemen dalam list bisa berupa angka, string, atau tipe data lainnya.
list bisa juga di masukkan kedalam list yang yain atau yang di sebut nested list
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")
## cara alternatif membuat list
data_range = range(0,10,2) # range(start,stop,step)
print(data_range)
data_list = list(data_range)
print(data_list)

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>
NOTE :
daftar_angka adalah sebuah list yang berisi lima elemen: [1, 2, 3, 4, 5].
List menggunakan tanda kurung siku [] untuk menyimpan elemen.
Elemen dalam list bisa berupa angka, string, atau tipe data lainnya.
list bisa juga di masukkan kedalam list yang yain atau yang di sebut nested list
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel
range(0, 10, 2)
[0, 2, 4, 6, 8]

In [27]:
# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))
print(f"""NOTE :
tuple ditulis menggunakan tanda '()'
Tuple bersifat immutable, artinya nilainya tidak bisa diubah setelah dibuat.
contoh : koordinat[0] = 11 (ini akan eror)
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

koordinat = (10, 20) -> <class 'tuple'>
NOTE :
tuple ditulis menggunakan tanda '()'
Tuple bersifat immutable, artinya nilainya tidak bisa diubah setelah dibuat.
contoh : koordinat[0] = 11 (ini akan eror)
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

In [26]:
# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
    "nama": "Andi",
    "nim": "A11.2022.12345",
    "jurusan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))
print(f"""NOTE :
Dictionary ditulis menggunakan tanda kurung kurawa
Dictionary berbeda dengan list karena menggunakan key bukan indexing
contoh : print(data_mahasiswa["nama"])
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")
print(data_mahasiswa["nama"])

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>
NOTE :
Dictionary ditulis menggunakan tanda kurung kurawa
Dictionary berbeda dengan list karena menggunakan key bukan indexing
contoh : print(data_mahasiswa["nama"])
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel
Andi

In [30]:
# 7. Set
# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))
print(f"""NOTE :
Set tidak memperbolehkan duplikasi, sehingga angka yang berulang (2 dan 1) akan otomatis dihapus. Hasilnya menjadi 1, 2, 3.
Set menggunakan kurung kurawal untuk menyimpan elemen.
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

himpunan_angka = {1, 2, 3} -> <class 'set'>
NOTE :
Set tidak memperbolehkan duplikasi, sehingga angka yang berulang (2 dan 1) akan otomatis dihapus. Hasilnya menjadi 1, 2, 3.
Set menggunakan kurung kurawal untuk menyimpan elemen.
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

In [33]:
 # 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str) # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))
print(f"""NOTE :
konversi biasanya di gunakan untuk :
mengubah input dari user karena pada saat menuliskan input('masukkan angka' :) akan terbaca sebagai string tapi jika kita konversi menjadi integer maka akan terbaca sebagai angka sehingga dapat di gunakan untuk perhitungan matematika
merubah list menjadi set untuk menghilangkan duplikasi
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel""")

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>
NOTE :
konversi biasanya di gunakan untuk :
mengubah input dari user karena pada saat menuliskan input('masukkan angka' :) akan terbaca sebagai string tapi jika kita konversi menjadi integer maka akan terbaca sebagai angka sehingga dapat di gunakan untuk perhitungan matematika
merubah list menjadi set untuk menghilangkan duplikasi
type(VARIABEL) = digunakan untuk mengecek tipe data apa yang di pakai suatu variabel

Praktikum 02. Variabel dan Operasi dasar

In [34]:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)
print(f"""NOTE :
Python tidak memerlukan deklarasi tipe data secara eksplisit.
Tipe data variabel akan menyesuaikan nilai yang diberikan
Tidak boleh menggunakan kata kunci (seperti if, for, while, dll.).
Tidak boleh di dahului angka
Tidak boleh menggunakan spasi
""")

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True
NOTE :
Python tidak memerlukan deklarasi tipe data secara eksplisit.
Tipe data variabel akan menyesuaikan nilai yang diberikan
Tidak boleh menggunakan kata kunci (seperti if, for, while, dll.).
Tidak boleh di dahului angka
Tidak boleh menggunakan spasi

In [40]:
# 2. Operasi Aritmetika
a = 10
b = 3

penjumlahan = a + b  # Tambah
pengurangan = a - b  # Kurang
perkalian = a * b  # Kali
pembagian = a / b  # Bagi (hasil float)
pembagian_bulat = a // b  # Bagi (bulat)
modulus = a % b  # Sisa bagi
pangkat = a ** b  # Pemangkatan

print("\nOPERASI ARITMETIKA")
print("a =", a, ", b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Pembagian Bulat =", pembagian_bulat)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

print(f"""NOTE :
Python mengikuti aturan matematika standar :

1️⃣ Kurung ()
2️⃣ Pangkat (**)
3️⃣ Perkalian (*), Pembagian (/), Pembagian Bulat (//), Modulus (%)
4️⃣ Penjumlahan (+), Pengurangan (-)
""")

OPERASI ARITMETIKA
a = 10 , b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Pembagian Bulat = 3
Modulus = 1
Pangkat = 1000
NOTE :
Python mengikuti aturan matematika standar :

1️⃣ Kurung ()
2️⃣ Pangkat (**)
3️⃣ Perkalian (*), Pembagian (/), Pembagian Bulat (//), Modulus (%)
4️⃣ Penjumlahan (+), Pengurangan (-)

In [36]:
# 3. Operasi Perbandingan
# Menghasilkan nilai Boolean (True/False)
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama = a != b
lebih_besar_sama = a >= b
kurang_sama = a <= b

print("\nOPERASI PERBANDINGAN")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama)
print("a >= b =", lebih_besar_sama)
print("a <= b =", kurang_sama)

print(f"""NOTE :
Operasi perbandingan menghasilkan nilai True atau False.
Biasa digunakan dalam percabangan (if) dan perulangan (while).
Bisa digunakan untuk angka, string, dan tipe data lainnya.
String dibandingkan berdasarkan urutan alfabet (ASCII).
""")

OPERASI PERBANDINGAN
a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False
NOTE :
Operasi perbandingan menghasilkan nilai True atau False.
Biasa digunakan dalam percabangan (if) dan perulangan (while).
Bisa digunakan untuk angka, string, dan tipe data lainnya.
String dibandingkan berdasarkan urutan alfabet (ASCII).

In [39]:
# 4. Operasi Logika
# and, or, not

x = True
y = False

logika_and = x and y
logika_or = x or y
logika_not_x = not x

print("\nOPERASI LOGIKA")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not_x)

print(f"""NOTE :
Operator logika digunakan untuk mengevaluasi kondisi dalam bentuk Boolean.
Gunakan and jika kedua kondisi harus True.
Gunakan or jika salah satu kondisi cukup True.
Gunakan not untuk membalikkan nilai Boolean.
Operator logika dapat digunakan dalam percabangan (if) dan perulangan (while).
""")

OPERASI LOGIKA
x = True , y = False
x and y = False
x or y = True
not x = False
NOTE :
Operator logika digunakan untuk mengevaluasi kondisi dalam bentuk Boolean.
Gunakan and jika kedua kondisi harus True.
Gunakan or jika salah satu kondisi cukup True.
Gunakan not untuk membalikkan nilai Boolean.
Operator logika dapat digunakan dalam percabangan (if) dan perulangan (while).

In [ ]:
# 5. Contoh penggunaan di dalam percabangan
if a > b and b > 0:
  print("\nKondisi terpenuhi: a lebih besar dari b, dan b masih positif.")
else:
  print("\nKondisi tidak terpenuhi atau b <= 0.")

print(f"""NOTE :

""")